<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ztiany.view"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".scroll.ScrollActivity"/>
        <activity android:name=".draw.color.ColorMatrixFilterActivity"/>
        <activity android:name=".draw.canvas.ADrawingActivity"/>
        <activity android:name=".draw.color.MaskFilterActivity"/>
        <activity android:name=".draw.path.ABezierActivity"/>
        <activity android:name=".draw.pathmeasure.PathMeasureActivity"/>
        <activity android:name=".custom.activity.CustomViewActivity"/>
    </application>

</manifest>