<manifest package="com.ztiany.module_a"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <application>

        <activity android:name=".feature1.ModuleA_1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".feature2.ModuleA_2Activity"/>

    </application>

</manifest>
