<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <location>/WEB-INF/errors/app_error.jsp</location>
        <exception-type>com.ztiany.mall.exception.AppException</exception-type>
    </error-page>

    <error-page>
        <location>/WEB-INF/errors/unknow_error.jsp</location>
        <exception-type>java.lang.Exception</exception-type>
    </error-page>

    <error-page>
        <location>/WEB-INF/errors/404.jsp</location>
        <error-code>404</error-code>
    </error-page>

</web-app>