<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ztiany.main"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity android:name=".main.MainActivity"/>
        <activity android:name=".splash.SplashActivity"/>
        <activity android:name=".binding.BindingActivity"/>

    </application>

</manifest>